# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
functions/delete
src/pages/---RecipeDetail.js
src/pages/--CreateRecipe.jsx
src/pages/--GroceryList.jsx
estrutura_projeto.txt
git_log.txt
estrutura_projeto.txt
dowloads/
src/pages/ould-GroceryList.jsx
ServiceAccountKey.json
functions/findDuplicatesProductions.js
functions/script-find-duplicates.js
functions/teste-emulator.js
src/hooks/--useMealPlanner.js
src/pages/--delete--MealPlanner.jsx
src/pages/--MealPlanner.jsx
